@{
    ViewBag.Title = "Dot Races Administration";
}


<table class="table table-responsive" style="width: 200px; margin: 0 auto;">
    <tr>
        <td>
            <p class="text-center">
                <a href="~/Surveys" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;UO Surveys</a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text-center">
                <a href="~/OSUSurveys" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;OSU Surveys</a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text-center">
                <a href="~/Settings" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;Settings</a>
            </p>
        </td>
    </tr>
    @*<tr>
        <td>
            <p class="text-center">
                <a href="~/Races" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Races</a>
            </p>
        </td>
    </tr>*@
    <tr>
        <td>
        </td>
    </tr>
</table>
