@model DotRacesAdministration.Models.Separator

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Separator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentVersion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeparatorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
